@import url("../../common.css");

.custom-list {
  list-style-type: none;
  padding: 0;
}

span {
  padding-left: 5px;
}

.check-label-container {
  display: flex;
  align-items: center;
}

.custom-list-item {
  margin-bottom: 8px;
  border-radius: 18px;
  border: 1px solid var(--color-neutral-3);
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}

.checked {
  text-decoration: line-through;
}

.rounded-checkbox {
  width: 20px;
  height: 20px;
  clip-path: circle(46% at 50% 50%);
}
